<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tampa"  parallel="tests" thread-count="1" >
    <test name="TestOne" >
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="environment" value="local"></parameter>
      <!--  <parameter name="environment" value="grid"></parameter> this is for test in SeleniumGrid-->

        <classes>
            <class name="com.webstaurantstore.tests.SearchAddEmptyCardTest">
                <!--<methods><include name="firstTest"/></methods>-->
                <methods><include name="firstTest"/></methods>
            </class>


        </classes>
    </test>

    <parameter name="environment" value="grid"></parameter>







</suite>