<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tampa"  parallel="tests" thread-count="1" >

    <test name="TestOne" >
        <parameter name="browser" value="chrome"></parameter>


        <classes>
            <class name="com.webstaurantstore.tests.SearchAddEmptyCardTest">
                <methods><include name="firstTest"/></methods>
               <!-- <methods><include name="debug"/></methods>-->
            </class>


        </classes>
    </test>






</suite>